* {
    font-family: 'Work Sans', sans-serif;
}

html, body {
    height: 100%;
  }
  html {
    display: table;
    margin: auto;
  }
  body {
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(241, 17, 17);
    text-align: center;
  }
  form {
    display: inline-block;
  }