
* {
    font-family: 'Work Sans', sans-serif;
    /* text-align: center;
    padding: 20px 0;
    font-size: 30px; */
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: lightgray;
    text-align: center;
    padding: 0;
    margin: 0;    
    width:100vw;
    height: 100vh;    
}

.panel {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: lightgray;
    font-size: x-large;
    text-align: center;
    border-style: solid;
    border-color: black;    
}

.result {
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-style: oblique;     
}

.option-container {
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: lightgray;        
}

.option {    
    padding: 10px;
    width: 17vw;
    height: 10vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
}

.option:hover {
    /* background-color: lightgoldenrodyellow; */
    border-color: black;
}

.navigation {
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
}
  
.submit,.next {
    width: 45%;
    height: 5vh;
    padding: 1px;
    font-size: larger;
}

.submit {
    background-color: #50DBB4;
}

.next {
    color: white;
    background-color: #BF3325;
}



html, body {
    height: 100%;
  }

html {
    display: table;
    margin: auto;
  }
  
h1 {
      font-weight: bolder;
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: invisible;
    padding: 10px;
  }