
* {
    font-family: 'Work Sans', sans-serif;
}

body {
    background-color: lightgray;
    text-align: center;
    padding: 0;
    margin: 0;    
    width: 100vw;
    height: 100vh;    
}

.panel {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container {
    margin: 10px;
    padding: 5px;
    width: auto;
    height: 8vh;
    background-color: lightgray;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    border-style: solid;
    border-color: black;    
}

.result {
    margin: 50px 0 0 0;
    padding: 5px;
    width: auto;
    height: 8vh;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

.option-container {
    display: flex;
    justify-content: space-evenly; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: lightgray;        
}

.option {    
    padding: 10px 0 0 0;
    width: 17vw;
    height: 15vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 15%;
}

.option:hover {
    background-color: lightgoldenrodyellow;
    border-color: black;
}

.navigation {
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color: lightgrey;
}
  
.submit,.next {
    width: 45%;
    height: 5vh;
    padding: 1px;
    font-size: larger;
}

.submit {
    background-color: #50DBB4;
}

.next {
    color: white;
    background-color: #BF3325;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    background-color: invisible;
    padding: auto;
  }

  .header-container {
      border-style: dashed;
  }

img {
    width: 45%;
    height: 20vh;
    display: block;
    }

.left, .right {
        float: left;
        width: 20%; 
      }
      
      .main {
        float: left;
        width: 60%; 
      }
      
      
      @media screen and (max-width: 800px) {
        .left, .main, .right {
          width: 100%; 
        }
      }